EBAY_APP_ID=your_app_id
EBAY_CERT_ID=your_cert_id
EBAY_DEV_ID=your_dev_id
EBAY_RUNAME=your_oauth_redirect_url_name
EBAY_USER_TOKEN=your_oauth_user_token
EBAY_REFRESH_TOKEN=your_oauth_refresh_token
EBAY_API_ENV=SANDBOX # Change to PRODUCTION for real use
PRINTER_ADDRESS=00:11:22:33:44:55 # Mac address of the printer (if Bluetooth) or USB path
