# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/
.env

# MacOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Project specific files (Data and generated labels)
processed_orders.json
*.png
amazon orders/
